@page
@model BeFit_Website.Pages.Main.HomeModel
@{
    <div class="text-center">
        <p style="color:#66FCF1">Want to edit your data ? <a class="btn btn-outline-primary" asp-page="/UserInfo/EditUserData">Edit</a></p>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-page="/UserInfo/Login">Logout</a>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-page="/FoodInfo/SearchForFood">Search For Food</a>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-page="/Main/UserFeedbacks">Add your feedback</a>
    </div>
}
